
.align{
    text-align: center;
}
.iconTrunk{
    max-width: 37px;
    max-height: 37px;
    margin-right: 20px;
    position: relative;
    top: -6px;
}
.buscador{
    position: absolute;
    top: 10px;
    left: 40%;
}
.headTrunk{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.SidebarPequeño{
    width: 20% !important;
}

.SidebarGrande{
    width: 100% !important;
}
.blanco{
    background-color: aliceblue;
    border-radius: 50px;
}
.contenedor{
    width: 80%;
}
.pagina{
    display: flex;
}



.container-title{
    padding: 5%;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

.container-images{
    width: 100%;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

.container-images-img {
    padding: 20px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.container-images-img:hover {
    cursor: pointer;
    transform: scale(1.5);
}
.cardArchivo{
background-image: url("./img/carpeta.png");
}

.social-link {
   width: 20px;
   height: 20px;
   border: 1px solid #ddd;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #666;
   border-radius: 50%;
   transition: all 0.3s;
   font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
   background: #ddd;
   text-decoration: none;
   color: #555;
}

