.route {
    width: auto;
}

/* The Modal (background) */
.modal24 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal25 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
.modal26 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-con {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.align {
    text-align: center;
}

.uploadButton {
    background-color: aliceblue;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    position: relative;
    border-radius: 150px;

}

.align {
    text-align: center;
}

.iconTrunk {
    max-width: 60px;
    max-height: 60px;
    margin-right: 20px;
    position: relative;
    top: -6px;
}

.buscador {
    position: absolute;
    top: 10px;
    left: 40%;
}

.headTrunk {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.SidebarPequeño {
    width: 20% !important;
}

.SidebarGrande {
    width: 100% !important;
}

.blanco {
    background-color: aliceblue;
    border-radius: 50px;
}

.contenedor {
    width: 80%;
}

.pagina {
    display: flex;
}

.ModalInvisible {
    display: hidden !important;
}


.container-title {
    padding: 5%;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

.container-images {
    width: 100%;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

.container-images-img {
    padding: 20px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.container-images-img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.cardArchivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    width: 250px;
    height: 250px;
    align-items: center;
    background-size: cover;
    background-position-y: -20px;
}


.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.social-link-side {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link-side:hover,
.social-link-side:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.leftBorder {
    color: #2b6777 !important;
}